

<div class="container-fluid">

    {% extends 'base.html'%}
    {%block navbar %}
       {% include 'navbar.html' %}
   {% endblock %} 
   
   
   {% block content %}
   <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
   <link href="https://fonts.googleapis.com/css?family=Tangerine|Ranga|Indie+Flower" rel="stylesheet">
   <!-- Jumbotron -->
   <div id="jumbo" class="card-image" style="background-image:url('https://media.istockphoto.com/photos/watercolor-textured-background-picture-id887755698?k=20&m=887755698&s=612x612&w=0&h=UcvMcQg07D_WfBT88iOWWXMV5WMRXRM8nqJRXcySUNA=')" style="font-family: 'Tangerine', serif;" >
       <div class="text-white text-center rgba-stylish-strong py-5 px-4">
         <div class="py-5">
     
           <!-- Content -->
           <h2 class="card-title h2 my-4 py-2">Welcome to Pitch-App.</h2>
           <p class="mb-4 pb-2 px-md-5 mx-md-5">We are living in a hyper-competitive world. Unless you are able to communicate, your message remains confined to your vocal cords. Come let's pitch!</p>
           <a href="{{url_for('main.newPitch')}}" class="btn green btn-center">Click to create a pitch</a> 
     
         </div>
       </div>
     </div>
     <!-- Jumbotron -->
     <h2 class="text-center ">Categories</h2>
   <div class="text-center pl-5 mt-4" >
   <div class="text-center ">
       <a href="{{url_for('main.display_promotion')}}" class="btn purple text-white">Promotion Pitches</a> 
       <a href="{{url_for('main.display_product')}}" class="btn purple text-white ">Product Pitches</a>
       <a href="{{url_for('main.display_interview')}}" class="btn purple text-white">Interview Pitches</a>
       <a href="{{url_for('main.display_pickuplines')}}" class="btn purple text-white">Pickup lines Pitches</a> 
       <a href="{{url_for('main.profile',uname=current_user.username)}}" class="btn purple text-white ">View Your Profile</a> 
   
   
   </div>
     
   </div>
   

    <!-- Footer -->
<footer class="page-footer font-small blue-grey darken-3">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright: Kipngeno Sigei.
    <a href="#">Pitches.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
   
   {%endblock%}
</div>
